*{
    margin: 0px;
}
.detail-bg-container{
    background-color: #e9f5ec;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-bottom: 20px;
}
.loader-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}